<%= form_tag [:admin,push_message], :html => { :multipart => true } do |f| %>
<% if push_message.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(push_message.errors.count, "error") %> prohibited this request from being saved:</h2>
	<ul>
		<% push_message.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= label_tag t(:send_target) %>
	<div id="dest_type">
		<label class="radio-inline"><%= radio_button_tag :send_type,'all',true %><%=t(:all_send) %></label>
		<!-- <label class="radio-inline"><%= radio_button_tag 'send_type','exclude' %><%=t(:exclude_send) %></label> -->
		<label class="radio-inline"><%= radio_button_tag :send_type,'select' %><%=t(:select_send) %></label>
	</div>
</div>
<div id="dest_insert" class="form-group" style="display:none;margin-bottom:20px">
	<%=label_tag :users,t(:select_send)%>
	<ul style="list-style:none">
	<li class="users">
	<button type="button" class="delete_li btn btn-danger" style="display:none"><%=t(:delete) %></button>
	</li>
	</ul>
	<%=link_to t(:select_insert),user_id_select_admin_users_path,:class=>'btn btn-primary modal_link',:'data-toggle'=>"modal",:'data-target'=>"#myModal" %>
</div>
<div class="form-group">
	<%= label_tag t(:title,scope:[:activerecord,:attributes,:push_message]) %>
	<%= text_field_tag :title,nil,{:class=>'form-control', :required=>"required"} %>
</div>
<div class="form-group">
	<%= label_tag t(:content,scope:[:activerecord,:attributes,:push_message]) %>
	<%= text_area :content,nil,{:class=>'form-control', :required=>"required", :rows=>10, :id=>'message_text'} %>
	<span id="byteInfo">0</span> <span>Byte</span> / 최대 <span id="max_byte">3500</span> Byte
</div>



<div class="form-group actions">
	<%=submit_tag '보내기',:class=>"btn btn-primary" %>
</div>
<% end %>
