<p id="notice"><%= notice %></p>

<p>
  <b>Device:</b>
  <%= @device.device_id %>
</p>

<p>
  <b>Registration:</b>
  <%= @device.registration_id %>
</p>

<p>
  <b>User:</b>
  <%= @device.user_id %>
</p>

<% if can? :update, @device %>
<%= link_to t(:link_edit), edit_device_path(@device) %> |
<% end %>
<%= link_to t(:link_list), root_path %>
