<ul class="nav main-menu">
	<% if can? :read, User %>
	<% if current_admin.role[0].title=='exporter'  %>
	<li><%=link_to admin_users_path do %>
					<i class="glyphicon glyphicon-user glyphicon-white"></i>
					<%=t(:menu_user)%>
					<span class="visible-xs glyphicon glyphicon-chevron-down pull-right"></span><% end %></li>
	<% else %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/operators' || params[:controller]=='admin/devices' || params[:controller]=='admin/users' || params[:controller]=='admin/groups' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-user glyphicon-white"></i>
			<%=t(:menu_user)%>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/operators' || params[:controller]=='admin/users' || params[:controller]=='admin/groups' || params[:controller]=='admin/kits' %> current<% end %>">
			<% if can? :read, User %>
			<li<% if params[:controller]=='admin/users' %> class="active"<% end %>><%=link_to admin_users_path do %>
				<i class="glyphicon glyphicon-user glyphicon-white"></i>
				<%=t(:user,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Device %>
			<li<% if params[:controller]=='admin/devices' %> class="active"<% end %>><%=link_to admin_devices_path do %>
				<i class="glyphicon glyphicon-user glyphicon glyphicon-white"></i>
				<%=t(:device,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Operator %>
			<li<% if params[:controller]=='admin/operators' %> class="active"<% end %>><%=link_to admin_operators_path do %>
				<i class="glyphicon glyphicon-user glyphicon-white"></i>
				<%=t(:operator,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Group %>
			<li<% if params[:controller]=='admin/groups' %> class="active"<% end %>><%=link_to admin_groups_path do %>
				<i class="glyphicon glyphicon-user glyphicon glyphicon-white"></i>
				<%=t(:group,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
		</ul>
	</li>
	<% end %>
	<% end %>


	<% if can?(:read, PushMessage) || can?(:read, PushPreparePicture) || can?(:read, PushPrepareMessage) %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/push_messages' || params[:controller]=='admin/push_prepare_pictures' || params[:controller]=='admin/push_prepare_messages' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-comment glyphicon-white"></i>
			<%=t(:menu_push)%>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu<% if params[:controller]=='admin/push_messages' || params[:controller]=='admin/push_prepare_pictures' || params[:controller]=='admin/push_prepare_messages' %> current<% end %>">
	<% if can? :read, Push %>
	<li<% if params[:controller]=='admin/pushs' %> class="active"<% end %>><%=link_to admin_push_messages_path do %>
		<i class="glyphicon glyphicon-comment glyphicon-white"></i>
		<%=t(:push_message,scope:[:activerecord,:models])%><% end %></li>
	<% end %>
	<!-- <% if can? :read, PushPreparePicture %>
	<li<% if params[:controller]=='admin/push_prepare_pictures' %> class="active"<% end %>><%=link_to admin_push_prepare_pictures_path do %>
		<i class="glyphicon glyphicon-comment glyphicon-white"></i>
		<%=t(:push_prepare_picture,scope:[:activerecord,:models])%><% end %></li>
	<% end %> -->
	<% if can? :read, PushPrepareMessage %>
	<li<% if params[:controller]=='admin/push_prepare_messages' %> class="active"<% end %>><%=link_to admin_push_prepare_messages_path do %>
		<i class="glyphicon glyphicon-comment glyphicon-white"></i>
		<%=t(:push_prepare_message,scope:[:activerecord,:models])%><% end %></li>
	<% end %>
	</ul>
	</li>
	<% end %>

	<% if can?(:read, Notice) || can?(:read, Recommend) %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/notices' || params[:controller]=='admin/recommends' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-comment glyphicon-white"></i>
			<%=t(:menu_notice)%>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu<% if params[:controller]=='admin/notices' %> current<% end %>">
	<% if can? :read, Notice %>
	<li<% if params[:controller]=='admin/notices' %> class="active"<% end %>><%=link_to admin_notices_path do %>
		<i class="glyphicon glyphicon-comment glyphicon-white"></i>
		<%=t(:notice,scope:[:activerecord,:models])%><% end %></li>
	<% end %>
	</ul>
	</li>
	<% end %>	

</ul>
