<% breadcrumb :user_check_id %>
<section id="user_check_id" class="container sl_section_type1">
    <div class="row">
      <div class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
        <h2 class="col-xs-12"><%=t(:user_check_id_title) %></h2>
        <p class="col-xs-12 description">
            <%=raw t(:user_check_id_description) %>
            <br /><span class="red"><%=t(:user_check_notice) %></span>
        </p>
      </div>
      <% if @error.present? %>
      <div class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
        <div id="error_explanation" class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <ul>
            <li style="list-style:none"><%=raw @error %></li>
          </ul>
        </div>
      </div>
      <% end %>
      <%=form_tag users_validate_id_path,{:method=>"post",:id=>'check_id_form',:class=>"form-horizontal"} do %>
      <div class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
        <article class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= t(:user_data_default_insert) %></h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                  <%= label_tag :name,t(:name,scope:[:activerecord,:attributes,:user]),:class=>"control-label col-sm-3 col-xl-2" %>
                  <div class="col-sm-9  col-xl-10">
                  <%= text_field_tag :name,params[:name],:autofocus => true, :class=>"form-control input-lg",:required=>"required" %>
                </div>
              </div>
                <div class="form-group">
                    <%= label_tag :birthday,t(:birthday,scope:[:activerecord,:attributes,:user]),:class=>"control-label col-sm-3 col-xl-2" %>
                    <div class="col-sm-9  col-xl-10">
                    <%= date_select :birthday,'',{:start_year=>Time.current.year,:end_year=>Time.current.year-150,selected:@birthday,prompt: {day:t(:select_day),month:t(:select_month),year:t(:select_year)}}, {required: true}  %>
                  </div>
                </div>
            </div>
        </article>
        <article class="panel panel-default" style="margin-bottom:5px">
            <div class="panel-heading">
                <h3 class="panel-title"><%= t(:user_check_barcode) %></h3>
            </div>
            <div class="panel-body" style="text-align:center">
                <%=image_tag 'barcode.jpg',:width=>186,:height=>63 %>
                <div class="form-group">
                    <%= label_tag :barcode,t(:label_check_barcode) %>
                    <div class="col-md-12">
                    <%= text_field_tag :barcode,params[:barcode],:autofocus => true, :placeholder=>t(:insert_your_barcode), :class=>"form-control input-lg",:required=>"required" %>
                    </div>
                </div>
            </div>
        </article>
        <div class="checkbox" style="margin-bottom:30px">
          <label>
            <input type="checkbox" name="remember_barcode" id="remember_barcode">
            <%= t(:remember_barcode) %>
          </label>
        </div>
        <div class="col-xs-12" style="padding-left:0">
          <%= button_tag(type:"submit",class: "btn col-xs-12 col-md-8 btn-primary btn-lg") do %>
          <%=t(:user_aside_menu_check_id) %> &#9654;
          <% end %>
      		<div class="col-md-4 hidden-xs hidden-sm" style="padding-right:0">
      		<%=link_to t(:reset_form),root_path,{:class=>"btn col-xs-12 btn-lg btn-danger"} %>
      		</div>
        </div>
      </div>
      <% end %>
    </div>
</section>
