<% breadcrumb :select_service %>
<section id="select_service" class="container sl_section_type1">
    <div class="row">
      <div class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
        <h2 class="col-xs-12"><%=t(:user_check_id_title) %></h2>
        <p class="col-xs-12 description">
            <%=raw t(:user_check_id_description) %>
            <br />제노솔루션 서비스를 받으셨다면 제노솔루션 버튼을, <br /> 제로픽 서비스를 받으셨다면 제로픽 버튼을 누르신 후 정보를 입력해 주세요.
            <br /><span class="red"><%=t(:user_check_notice) %></span>
        </p>
      </div>
      <% if @error.present? %>
      <div class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
        <div id="error_explanation" class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <ul>
            <li style="list-style:none"><%=raw @error %></li>
          </ul>
        </div>
      </div>
      <% end %>
        <ul class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
          <li class="col-xs-6">
            <%=link_to users_check_id_path,{:id=>:genosolution_select} do %>
              :: 제노솔루션 결과지 확인 ::
            <% end %>
          </li>
          <li class="col-xs-6">
            <%=link_to geropic_check_id_path,{:id=>:geropic_select} do %>
             :: 제로픽 결과지 확인 ::
            <% end %>
          </li>
        </ul>
  </div>
</section>
